﻿@{
    ViewBag.Title = "Trang Chủ ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Home/js/danhgia.js"></script>

<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(/Content/Home/hinh/bgTTTT.png)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left"
            <div class="row row-mt-15em">
            <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
            <span class="intro-text-small">Giới thiệu chung</span>
            <h1 class="cursive-font">Trung tâm thể dục thể thao HUFLIT</h1>
            <h3 class="cursive-font">Chào mừng bạn đến với Trung tâm Thể dục Thể thao HUFLIT, nơi cung cấp một môi trường luyện tập chuyên nghiệp, hiện đại và thân thiện. Trung tâm Thể dục Thể thao HUFLIT là cộng đồng thể thao sôi động, nơi mọi người có thể gặp gỡ, kết nối và chia sẻ niềm đam mê với thể thao. Hãy đến với chúng tôi để trải nghiệm một phong cách sống khỏe mạnh và tích cực hơn. Chúng tôi rất mong được chào đón bạn!</h3>

            </div>
            </div>
            </div >

            </style>
        </div>
    </div>
    </div>
</header>
<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2 class="cursive-font primary-color">Thông Tin</h2>
                <p>Nằm ngay giữa trung tâm thành phố Hồ Chí Minh. Chỉ đi mất vài phút để di chuyển đến các cơ sở vật chất khác của Trung tâm Thể dục Thể thao HUFLIT</p>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/hình/sân 2a.png" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/hinh/sân 2a.png" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2>Sân bóng đá</h2>
                        <p>Nhiều loại sân khác nhau phù hợp với mọi yêu cầu của khách hàng.</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/hinh/hoboi2.png" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/hinh/hoboi2.png" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2>Hồ bơi</h2>
                        <p>Hồ bơi phù hợp với trẻ em và người lớn.</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/hinh/nhathidau1.png" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/hinh/nhathidau1.png" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2>Nhà thi đấu</h2>
                        <p>Không gian rộng rãi có mái che phù hợp các môn thể thao trong nhà.</p>
                        <p><span class="price cursive-font"></span></p>

                    </div>
                </a>
            </div>

        </div>
    </div>
</div>

<div id="gtco-features">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                <h2 class="cursive-font">3 Mục tiêu quan trọng nhất!</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-face-smile"></i>
                    </span>
                    <h3>Phát triển Cộng đồng</h3>
                    <p>Tạo ra một môi trường thân thiện và hỗ trợ, nơi mọi người có thể gặp gỡ, kết nối và chia sẻ niềm đam mê với thể thao và sức khỏe.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-heart"></i>
                    </span>
                    <h3>Nâng cao Sức khỏe và Phong cách sống</h3>
                    <p>Chương trình tập luyện chất lượng cao, giúp mọi người cải thiện sức khỏe, tăng cường thể lực và phát triển một phong cách sống tích cực và khỏe mạnh.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-mobile"></i>
                    </span>
                    <h3>Kết hợp Công nghệ và Dịch vụ</h3>
                    <p>Luôn cập nhật và áp dụng những công nghệ mới nhất trong lĩnh vực thể dục thể thao, đồng thời không ngừng nâng cao chất lượng dịch vụ để mang đến trải nghiệm tốt nhất cho khách hàng.</p>
                </div>
            </div>


        </div>
    </div>
</div>
@{
    QLTT.Models.QlyTheThaoEntities db = new QLTT.Models.QlyTheThaoEntities();
    List<QLTT.Models.TinNhan> dstn = db.TinNhans.OrderByDescending(t => t.ngay_gui).Take(5).ToList();
}

<div class="dropdown-divider"></div>
<link rel="stylesheet" href="~/Content/Slider/keymap.css">
<style>
    .chat-container {
        height: 400px;
        border: 1px solid #ccc;
        overflow-y: scroll;
        padding: 10px;
    }

    .chat-message {
        margin-bottom: 10px;
        animation: slide-in 1s linear;
    }

    }
    }
</style>

<div id="chatContainer" class="chat-container">
    @foreach (var item in dstn)
    {
        <div class="chat-message">
            <a class="dropdown" href="">
                <strong>
                    @if (item.ma_kh == null)
                    {
                        @item.ho_ten
                    }
                    else
                    {
                        @item.KhachHang.hoTenKH
                    }
                </strong>
                <span class="small float-right text-muted">@item.ngay_gui</span>

                <div class="dropdown-message small">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    @item.noi_dung
                    <br />
                    @item.danh_gia<a>&#10030;</a>
                </div>
            </a>
        </div>
    }
</div>


</body>
</html>
<div class="gtco-cover gtco-cover-sm" style="background-color: #469eb8" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container text-center">
        <div class="display-t">
            <div class="display-tc">
                <h1>&ldquo;Nơi khởi nguồn cho cuộc sống năng động và sức khỏe trọn vẹn!&rdquo;</h1>
                <p>&mdash; Trung tâm Thể dục Thể thao HUFLIT&mdash;</p>
            </div>
        </div>
    </div>
</div>


    </div >
    </div >
    </div >
<script>
    function checkday() {
        var from1 = $("#datestart").val().split("/");
        var dateS = new Date(from1[2], from1[1] - 1, from1[0]);
        var from2 = $("#dateend").val().split("/");
        var dateE = new Date(from2[2], from2[1] - 1, from2[0]);
        var now = new Date();
        now.setHours(0);
        now.setSeconds(0);
        now.setMinutes(0);
        now.setMilliseconds(0);
        if (dateS < now) {
            alert("Ngày vào lớn hơn hoặc bằng ngày hiện tại !");
            return false;
        }

        if (dateE <= dateS) {
            alert("Ngày ra phải lớn hơn ngày vào ít nhất 1 ngày !");
            return false;
        }

        if (from1 == "" || from2 == "") {
            alert("Ngày tháng không được để trống !");
            return false;
        }

        return true;
    }
</script>