@model QLTT.Models.HoaDonT

@{
    ViewBag.Title = "Thanh Toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> Thông tin hóa đơn số @Html.DisplayFor(model => model.maHDTS)</h3>
        </div>
        @using (Html.BeginForm("XacNhanThanhToan", "HoaDon"))
        {
            @Html.AntiForgeryToken()
            <div class="card mb-3" id="hoadon">
                <div class="card-header">
                    <i class="fa fa-table"></i> Hóa đơn số @Html.DisplayFor(model => model.maHDTS)
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.maHDTS)
                                @Html.Hidden("tienSan", (int)ViewBag.tienSan)
                                @Html.Hidden("tiendichvu", (int)ViewBag.tiendichvu)
                                @try
                                {
                                    
                                    @Html.Hidden("tongTien", (Double)ViewBag.tongTien)
                                }
                                catch
                                {
                                }
                                <table class="table table-bordered table-responsive table-striped" cellspacing="0">

                                    <tr>
                                        <td>Khách hàng</td>
                                        @if (Model.PhieuThueSan.maKH == null)
                                        {
                                            List<QLTT.Areas.Admin.Models.KhachHangKH> likh = Newtonsoft.Json.JsonConvert.DeserializeObject<List<QLTT.Areas.Admin.Models.KhachHangKH>>(Model.PhieuThueSan.thong_tin_khach_hang_thue);
                                            <td>@likh[0].hotenKH</td>
                                        }
                                        else
                                        {
                                            <td>@Model.PhieuThueSan.KhachHang.hoTenKH</td>
                                        }
                                    </tr>
                                 
                                    <tr>
                                        <td>Số sân</td>
                                        <td>@Model.PhieuThueSan.San.maSoSan</td>
                                    </tr>
                                    <tr>
                                        <td>Ngày Thuê</td>
                                        <td>@Model.PhieuThueSan.NgayThue</td>
                                    </tr>
                                    <tr>
                                        <td>Số giờ thuê</td>
                                        <td>@Model.PhieuThueSan.soGioThue</td>

                                    </tr>
                                    <tr>
                                        <td>Tiền Sân</td>
                                        <td>
                                            <table width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Giá Sân</th>
                                                        <th>Số giờ thuê</th>
                                                        <th>Thành tiền</th>
                                                    </tr>

                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@Model.PhieuThueSan.San.LoaiSan1.giaThue</td>
                                                        <td>@ViewBag.soGioThue</td>
                                                        <td>@ViewBag.tienSan</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fa fa-table"></i> Danh sách dịch vụ đã đặt
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover" cellspacing="0">
                                            <tr>
                                                <th>
                                                    Tên dịch vụ
                                                </th>
                                                <th>
                                                    Giá
                                                </th>
                                                <th>
                                                    Đơn vị
                                                </th>
                                                <th>
                                                    Số lượng
                                                </th>
                                                <th>
                                                    Thành tiền
                                                </th>
                                            </tr>
                                            @{
                                                List<QLTT.Models.DichVuDaDat> ds = (List<QLTT.Models.DichVuDaDat>)ViewBag.list_dv;
                                                List<double> tt = (List<double>)ViewBag.list_tt;
                                                for (int i = 0; i < ds.Count; i++)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => ds[i].DichVu.ten_dv)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => ds[i].DichVu.gia)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => ds[i].so_luong)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => tt[i])
                                                        </td>
                                                    </tr>
                                                }
                                                <tr><td>Tổng:</td><td></td><td></td><td></td><td>@ViewBag.tiendichvu</td></tr>
                                            }
                                        </table>

                                    </div>

                                </div>

                            </div>
                            Công thức tính tiền Sân:<br />
                            Tổng tiền = số giờ thuê x giá Sân.
                        </div>


                    </div>
                    <hr />
                    <div class="form-group">
                        @Html.Label("Tổng tiền", htmlAttributes: new { @class = "control-label col-md-8" })
                        <div class="col-md-10">
                            @Html.TextBox("tong_tien", ((int)ViewBag.tongTien).ToString("C"), new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                </div>
            </div>

            @*if (Model.maTinhTrang == 1)
            {
                <input type="submit" value="Thanh Toán" class="btn btn-success btn-lg" />
            }*@
        }
    </div><br />
    <div>
        <br />

        @Html.ActionLink("Quay Lại", "HoaDon")
        <input type="submit" value="In hóa đơn" class="btn btn-info btn-lg" onclick="printDiv('hoadon')" />

    </div>

</div>


<script language="javascript" type="text/javascript">
    function printDiv(divID) {
        var divElements = document.getElementById(divID).innerHTML;
        var oldPage = document.body.innerHTML;
        document.body.innerHTML =
            "<html><head><title></title></head><body>" +
            divElements + "</body>";
        window.print();
        document.body.innerHTML = oldPage;
    }
</script>
