@model IEnumerable<QLTT.Models.PhieuThueSan>
@{
    ViewBag.Title = "Danh sách phiếu đặt sân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>
<div class="container">
    <br /><br /><br /><br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.title</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Mã phiếu
                        </th>
                        <th>
                            Mã Số Sân
                        </th>
                        <th>
                            Ngày Thuê
                        </th>
                        <th>
                            Số Giờ Thuê
                        </th>
                        <th>
                            Tình trạng
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.maPT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.San.maSoSan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayThue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.soGioThue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tinhTrangPT.tinhTrang)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>