@model QLTT.Models.PhieuThueSan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>
<div class="container">
    <br /><br /><br /><br />

    <h3>Bạn muốn hủy phiếu đã đặt !</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Tên khách hàng")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KhachHang.hoTenKH)
            </dd>


            <dt>
                @Html.DisplayName("Ngày đặt")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayDat)
            </dd>


            <dt>
                @Html.DisplayName("Ngày thuê")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayThue)
            </dd>

            <dt>
                @Html.DisplayName("Số giờ thuê")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.soGioThue)
            </dd>


            <dt>
                @Html.DisplayName("Số Sân")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.San.maSoSan)
            </dd>

            <dt>
                @Html.DisplayName("Tình trạng")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tinhTrangPT.tinhTrang)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Hủy phiếu" class="btn btn-default" />
            </div>
        }
    </div>
    <br />
</div>
