@model IEnumerable<QLTT.Models.San>
@{
    ViewBag.Title = "Danh sách sân";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","Index")">Quản Lý</a>
    </li>
    <li class="breadcrumb-item active">Danh sách sân</li>
</ol>
<p>
    @Html.ActionLink("Thêm sân", "Create")
</p>
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Danh sách sân
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayName("Mã số sân")
                        </th>
                        <th>
                            @Html.DisplayName("Loại sân")
                        </th>
                       
                        @if (Session["NV"] != null && ((QLTT.Models.NhanVien)Session["NV"]).maCV <= 2)
                        {
                            <th></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @{
                                    String m = (item.LoaiSan1.anh);
                                    try
                                    {
                                        List<String> a = Newtonsoft.Json.JsonConvert.DeserializeObject<List<String>>(m);
                                        <div><img src="@a[0]" height="120px" /></div>
                                    }
                                    catch { }
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.maSoSan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LoaiSan1.moTa)
                            </td>
                            @if (Session["NV"] != null && ((QLTT.Models.NhanVien)Session["NV"]).maCV <= 2)
                            {
                                <td>
                                    @Html.ActionLink("Sửa", "edit", new { id = item.maSan }) |
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.maSan })
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at @DateTime.Now</div>
</div>
