@model QLTT.Models.HoaDonT

@{
    ViewBag.Title = "Thanh Toán";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","Index")">Admin</a>
    </li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Bill")">Hóa đơn</a></li>
    <li class="breadcrumb-item active"><a href="@Url.Action("DetailsBill","Bill",new { id = Model.maHDTS})">@Html.DisplayFor(model => model.maHDTS)</a></li>
    <li class="breadcrumb-item active">Thanh toán</li>
</ol>
@using (Html.BeginForm("ConfirmPayment", "Bill"))
{
    @Html.AntiForgeryToken()
    <div class="card mb-3" id="hoadon">
        <div class="card-header">
            <i class="fa fa-table"></i> Hóa đơn số @Html.DisplayFor(model => model.maHDTS)
        </div>
        <div class="card-body">


            <div class="row">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.maHDTS)
                        @Html.Hidden("tienSan", (int)ViewBag.tienSan)
                        @Html.Hidden("tiendichvu", (int)ViewBag.tiendichvu)
                        @try
                        {
                            @Html.Hidden("tongTien", (int)ViewBag.tongTien)
                        }
                        catch
                        {
                        }

                        <table class="table table-bordered table-responsive table-striped" cellspacing="0">
                            <tr>
                                <td>Nhân Viên</td>
                                <td>@ViewBag.hotenNV</td>
                            </tr>
                            <tr>
                                <td>Khách hàng</td>
                                @if (Model.PhieuThueSan.maKH == null)
                                {
                                    List<QLTT.Areas.Admin.Models.KhachHangKH> likh = Newtonsoft.Json.JsonConvert.DeserializeObject<List<QLTT.Areas.Admin.Models.KhachHangKH>>(Model.PhieuThueSan.thong_tin_khach_hang_thue);
                                    <td>@likh[0].hotenKH</td>
                                }
                                else
                                {
                                    <td>@Model.PhieuThueSan.KhachHang.hoTenKH</td>
                                }
                            </tr>
                            <tr>
                                <td>Mã số sân</td>
                                <td>@Model.PhieuThueSan.San.maSoSan</td>
                            </tr>
                            <tr>
                                <td>Ngày thuê</td>
                                <td>@Model.PhieuThueSan.NgayThue</td>
                            </tr>
                            <tr>
                                <td>Số giờ thuê</td>
                                <td>@Model.PhieuThueSan.soGioThue</td>
                            </tr>

                            <tr>
                                <td>Tiền sân</td>
                                <td>
                                    <table width="100%">
                                        <thead>
                                            <tr>
                                                <th>Giá sân</th>
                                                <th>Số giờ thuê</th>
                                                <th>Thành tiền</th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@Model.PhieuThueSan.San.LoaiSan.giaThue</td>
                                                <td>@ViewBag.soGioThue</td>
                                                <td>@ViewBag.tienSan</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fa fa-table"></i> Danh sách dịch vụ đã đặt
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover" cellspacing="0">
                                    <tr>
                                        <th>
                                            Tên dịch vụ
                                        </th>
                                        <th>
                                            Giá
                                        </th>

                                        <th>
                                            Số lượng
                                        </th>
                                        <th>
                                            Thành tiền
                                        </th>
                                    </tr>
                                    @{
                                        List<QLTT.Models.DichVuDaDat> ds = (List<QLTT.Models.DichVuDaDat>)ViewBag.list_dv;
                                        List<double> tt = (List<double>)ViewBag.list_tt;
                                        for (int i = 0; i < ds.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => ds[i].DichVu.ten_dv)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => ds[i].DichVu.gia)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => ds[i].so_luong)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => tt[i])
                                                </td>
                                            </tr>
                                        }
                                        <tr><td>Tổng:</td><td></td><td></td><td></td><td>@ViewBag.tiendichvu</td></tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                    Công thức tính tiền sân:<br />
                    Tổng tiền = Số giờ thuê (số giờ kết thúc - số giờ bắt đầu) x giá sân.
                </div>


            </div>
            <hr />
            <div class="form-group">
                @Html.Label("Tổng tiền", htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.TextBox("tongTien", ((int)ViewBag.tongTien).ToString("C"), new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
        </div>
    </div>

    if (Model.maTinhTrang == 1)
    {
        <input type="submit" value="Thanh Toán" class="btn btn-success btn-lg" />
    }
    <input type="submit" value="In hóa đơn" class="btn btn-info btn-lg" onclick="printDiv('hoadon')" />
}


<div>
    @Html.ActionLink("Quay Lại", "Index")
</div>
<script language="javascript" type="text/javascript">
    function printDiv(divID) {
        var divElements = document.getElementById(divID).innerHTML;
        var oldPage = document.body.innerHTML;
        document.body.innerHTML =
            "<html><head><title></title></head><body>" +
            divElements + "</body>";
        window.print();
        document.body.innerHTML = oldPage;
    }
</script>