@model QLTT.Models.PhieuThueSan

@{
    ViewBag.Title = "Gia Hạn Sân";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","Index")">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="@Url.Action("ListPhongDangHoatDong","Admin")">Sân đang hoạt động</a>
    </li>
    <li class="breadcrumb-item active">Gia hạn sân @Model.San.maSoSan</li>
</ol>
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Gia Hạn Sân @Model.San.maSoSan
    </div>
    <div class="card-body">
        @using (Html.BeginForm("ResultGiaHan", "HoaDon"))
        {
            if (ViewBag.dateMax != null)
            {
                <div class="alert alert-warning"><b> Ngày thuê không được quá @ViewBag.dateMax </b></div>
            }
            <div class="alert alert-info"><b> Sân @Model.San.maSoSan đang được dự kiến trả sân vào ngày @Model.NgayThue </b></div>
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.maPT)

            <div class="row">
                <div class="col-md-3">
                    <label for="date_start">Ngày thuê</label>
                    @Html.TextBoxFor(m => m.NgayThue, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3">
                    <label for="date_end">Số giờ thuê</label>
                    @Html.TextBoxFor(m => m.soGioThue, new { @class = "form-control" })
                </div>
                <div class="col-md-2">
                    <label for="date_end" style="visibility:hidden">End Date</label>
                    <input type="submit" class="btn btn-primary btn-block" onclick="return checkday()" value="Gia hạn">
                </div>
            </div>
        }
    </div>
</div>
 var dateMax = new Date('@ViewBag.dateMax');
if (dateE > dateMax) {
            alert("Ngày thuê sân không được quá ngày @ViewBag.dateMax");
            return false;
            }
            @*<script>
                     function checkday() {
                        var from = $("#NgayThue").val().split("/");
                        var soGioThue = $("#soGioThue").val();

                        var dateS = new Date(from[2], from[1] - 1, from[0]);
                    var dateMax = new int(@ViewBag.dateMax);
                        var now = new Date();
                        now.setHours(0);
                        now.setSeconds(0);
                        now.setMinutes(0);
                        now.setMilliseconds(0);

                        if (dateS < now) {
                            alert("Ngày thuê lớn hơn hoặc bằng ngày hiện tại !");
                            return false;
                        }
                        if (soGioThue <= 0) {
                            alert("Số giờ thuê phải lớn hơn 0 !");
                            return false;
                         }
                         if (soGioThue) > dateMax) {
                            alert("Ngày ra không được quá ngày @ViewBag.dateMax");
                            return false;
                            }
                        if (from == "" || soGioThue == "") {
                            alert("Ngày tháng và số giờ thuê không được để trống !");
                            return false;
                        }
                        return true;
                    }
                </script>*@
            <script>
    function checkday() {
        var from1 = $("#NgayThue").val();
        var dateS = new Date(from1);

        var from2 = $("#NgayThue").val();
        var dateE = new Date(from2);

        var dateMax = new Date('@ViewBag.dateMax');
        dateE.setHours(0);

        var now = new Date();
        now.setHours(0);
        now.setSeconds(0);
        now.setMinutes(0);
        now.setMilliseconds(0);
        if (dateE > dateS) {
            alert("Ngày trả sân phải bằng ngày thuê!");
            return false;
        }
        if (dateE < now) {
            alert("Ngày trả sân phải lớn hơn hiện tại!");
            return false;
        }
        if (dateE > dateMax) {
            alert("Ngày ra không được quá ngày @ViewBag.dateMax");
            return false;
        }
        if (from2 == "") {
            alert("Ngày tháng không được để trống !");
            return false;
        }
        return true;
    }
            </script>